.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul#side-menu.nav
            li.sidebar-search
                .input-group.custom-search-form
                    input.form-control(type='text', placeholder='Search...')
                    span.input-group-btn
                        button.btn.btn-default(type='button')
                            i.fa.fa-search

            mixin menulist( m_l)
                - each l in m_l
                    if l.sub
                        li
                            a(href='#')
                                if !l.seq
                                    i.fa.fa-dashboard.fa-fw
                                |   #{l.name}
                                span.fa.arrow
                            if l.seq
                                ul.nav.nav-third-level
                                    +menulist( l.sub)
                            else
                                ul.nav.nav-second-level
                                    +menulist( l.sub)
                    else
                        li
                            a(href='#' id='#{conf.remote_service.hostname}:#{conf.remote_service.port}#{l.href}?UserID=#{user}&DeptID=#{deptid}' class='a-sidebar-ie')
                                |   #{l.name}
            +menulist( menu_list)
